<%- include("partials/header"); %>

<div class = "ui main fluid container">
    <div id = "image">
        <div id = "mainBody">
            <h1 class="ui header">
                Welcome to Pub Lib!
            </h1>
            <div class="content">
                <a class="landButton ui large button">Sign Up</a>
                <a class="landButton ui large button">Login</a>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer"); %>