<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <title>PubLib</title>
    </head>

    <body>
        <!-- <div class="ui stackable fixed menu">
            <a class="header item" href="/">Pub Lib</a>
            <div class="right menu">
                <a href="/register" class="item">Sign Up</a>
                <a href="/login" class="item">Login</a>
            </div>
            <div class="hamburger">
                <span class="hamburger-bun"></span>
                <span class="hamburger-patty"></span>
                <span class="hamburger-bun"></span>
            </div>
        </div> -->

        <div class = "ui main fluid container">
            <div id = "image" class = "ui image">
                <div id = "mainBody">
                    <h1 class="ui header">
                        Welcome to PubLib!
                    </h1>
                    <div class="content">
                        <a class="landButton ui large button" href = "/register">Sign Up</a>
                        <a class="landButton ui large button" href = "/login">Login</a>
                    </div>
                </div>
            </div>
        </div>
<%- include("partials/footer"); %>