<%- include("../partials/header"); %>

<div class="flex">
    <div class="ui container flex border">
        <div class="ui container flex">
        <h1>Login</h1>
        <form action="/login" method="POST" class="ui form">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Your username" required>
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Your password" required>
            </div>
            <button class="ui inverted button" type="submit">Submit</button>
        </form>
        </div>
    </div>
</div>

<%- include("../partials/footer"); %>